<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Cloudbees-Allure Suite">
  <listeners>
    <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
  </listeners>
  <test name="Tests">
    <classes>
        <class name="com.org.cloudbees.CloudbeesHomePageTest"/>
         <class name="com.org.cloudbees.GitRepoTestingTest"/>
    </classes>
  </test>
</suite>
